# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return a if a<b else b
    else:
        return a if a > b else b

In [3]:
# Check
lesser_of_two_evens(3,4)

4

In [6]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [59]:
def animal_crackers(text):
    text=text.split()
    if len(text)>2 or len(text)<2:
        return "Please Enter a two word string separated with a whitespace"
    else:
        return True if text[0][0].lower() == text[1][0].lower() else False

In [60]:
# Check
animal_crackers('Levelheaded Llama')

True

In [65]:
# Check
animal_crackers('Crazy Cangaroo')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [341]:
def makes_twenty(n1,n2):
#     if n1==20 or n2==20:
#         return True
#     elif n1+n2 == 20:
#         return True
#     else:
#         return False

#------> Another Solution ------>
    return True if n1==20 or n2==20 or n1+n2==20 else False

In [67]:
# Check
makes_twenty(20,20)

True

In [343]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [338]:
def old_macdonald(name):
    """
    Here i use map to make a list of letters then i pop the first and fourth letters to capitalize then
    insert them again in the list then print it as a string
    """
    name=list(map(str,name))
#     print(name)
    first_letter=name.pop(0).capitalize()
    
    fourth_letter=name.pop(2).capitalize()
    
    name.insert(0,first_letter)
    
    name.insert(3,fourth_letter)
    
    return "".join(name)

# ------> Another Solution <------#

"""
Here i use a for loop to iterate each letter capitalize the first and fourth letter then assign all letters to a new
variable
"""

#     name_st=""
#     for char in range(len(name)):
        
#         if char==0:
#                name_st+= name[0].capitalize()
#         if char==3:
#             name_st+=name[3].capitalize()
#         elif char>0 or char>3:
#             name_st+=name[char]
#     return name_st

'\nHere i use a for loop to iterate each letter capitalize the first and fourth letter then assign all letters to a new\nvariable\n'

In [339]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [83]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [84]:
# Check
master_yoda('I am home')

'home am I'

In [388]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [410]:
def almost_there(n):
    return True  if ((abs(100 - n) <= 10) or (abs(200 - n) <= 10)) else False

In [411]:
# Check
almost_there(104)

True

In [412]:
# Check
almost_there(150)

False

In [413]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [7]:
def has_33(nums):
    
#     n=0
#     while n != len(nums)-1:
#         if nums[n]==3:
#             if nums[n]==nums[n+1]:
#                 return True
#         n+=1
#     else:
#         return False


    for n in range(len(nums)):
        if n != len(nums)-1:
            if nums[n]==3:
                if nums[n]==nums[n+1]:
                    return True
        else:
            return False

In [14]:
# Check
has_33([1, 3, 3])

True

In [13]:
# Check
has_33([1, 3, 1, 3])

False

In [12]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [116]:
def paper_doll(text):
    text_x_3=''
    for char in text:
        text_x_3+=char*3
    return text_x_3

In [631]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [632]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [273]:
"""
in this function i take the 3 variables and assign in a list then i calc. the sum
and check if the sum is lower than or greater than 21
"""
def blackjack(a,b,c):
    total=0
    if a<1 or a>11 or b<1 or b>11 or c<1 or c>11:
        return "Please Enter valid numbers between 1 and 11"
    else:
        
        cards=[a,b,c]
        cards_total=sum(cards)
        if cards_total<=21:
            return cards_total
        else:
            if 11 in cards:
                cards_total-=10
                if cards_total>21:
                    return "Bust"
                else:
                    return cards_total
            else:
                return "Bust"

In [272]:
# Check
blackjack(5,6,7)

18

In [270]:
# Check
blackjack(9,9,9)

'Bust'

In [271]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [338]:
def summer_69(arr):
#     print(arr)
    if 6 in arr and 9 in arr:
        pos_1=arr.index(6)
        pos_2=arr.index(9)+1
        del(arr[pos_1:pos_2])
#     print(arr)
    
       
    return sum(arr)

In [339]:
# Check
summer_69([1, 3, 5])

9

In [340]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [341]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [342]:
summer_69([6,9])

0

In [346]:
summer_69([6,2,3,4,5,9,5,9])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True ##"I think this should be False not True"
     
     spy_game([1,7,2,0,4,5,0]) --> False

In [15]:
def spy_game(nums):
    for n in range (len(nums)):
            if len(nums)<=2:
                return False
            else:
                if n != len(nums)-1: 
                    if nums[n]==0:
                        if n+1 != len(nums)-1:
                            if nums[n+1]==0:
                                if n+1 != len(nums)-1:
                                    if nums[n+2]==7:
                                        return True
                                else:
                                    return False
                        else:
                            return False
    
    else:
        return False

In [16]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [20]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [21]:
# Check
spy_game([1,7,2,0,4,5])

False

In [22]:
spy_game([0,1,0,0,7])

True

In [24]:
spy_game([0,0,1,7])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [35]:
"""
here i extract all the odd numbers then i itterate through the odd numbers
and use all() function to check for prime numbers
"""
def count_primes(num):
    count=0
    for i in range(3,num+1,2):
        if all(i%n!=0 for n in range(2,i-1//2)):
            count+=1
    return count

In [36]:
# Check
count_primes(100)

24

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [27]:
def print_big(letter):
    letters={
        "a":['  *',' * *','***** ','*   *','*   *'],
        'b':['**** ','*   *','*****','*   *','**** '],
        'c':[' ****','*    ','*    ','*    ',' ****'],
        'd':['**** ','*   *','*   *','**** '],
        'e':['*****','*    ','*****','*    ','*****']
    }
    print("\n".join(letters[letter]))

In [31]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!